@use "../../../variables" as var;

.btn {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px;
  border-radius: 8px;
  border: none;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 41px;

  &.primary {
    color: var.$white;
    background-color: var.$primary-600;
  }

  &.secondary {
    color: var.$gray-800;
    background-color: transparent;
    border: 1px solid var.$gray-200;
  }

  &.primaryDanger {
    color: var.$white;
    background-color: var.$red-500;
  }

  &.secondaryDanger {
    color: var.$red-600;
    background-color: transparent;
    border: 1px solid var.$red-600;
  }

  &.transparent {
    color: var.$gray-800;
    background-color: transparent;
  }

  &:disabled {
    opacity: 50%;
  }

  > * {
    font-size: 20px;
  }
}
