@use "../../../variables" as var;

.nav {
  background: #15171c;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebarWrap {
  width: 100%;
}

.staticRoutes {
  .sidebarLink {
    height: 30px;
    margin: 10px 12px;
  }
}

.sidebarNav {
  position: sticky;
  top: 60px;
  background: var.$white;
  width: 0;
  overflow: hidden;
  height: calc(100vh - 60px);
  justify-content: center;
  transition: width var.$tr-dur;
  border-right: 1px solid var.$gray-200;

  &.active {
    width: 250px;
  }
}

.sidebarLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  list-style: none;
  height: 40px;
  text-decoration: none;
  font-size: 18px;
  margin: 16px 12px;
  border-radius: 8px;
  transition-property: background, color;
  transition-duration: var.$tr-dur;

  .itemIcon {
    font-size: 24px;
    color: var.$gray-500;
    transition-property: color;
    transition-duration: var.$tr-dur;
  }

  .link {
    text-decoration: none;
    color: var.$gray-900;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &:hover {
    background: var.$gray-100;
    cursor: pointer;

    .itemIcon {
      font-size: 24px;
      color: var.$gray-900;
    }
  }

  .Chevron {
    font-size: 28px;
    color: var.$gray-900;
  }
}

.dropdownLink {
  height: 42px;
  margin: 6px 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var.$gray-900;
  font-weight: 500;
  font-size: 16px;

  &:hover {
    background: var.$gray-100;
    font-weight: 700;
    cursor: pointer;
  }

  .sidebarLabel {
    margin-left: 48px;
  }
}

.divider {
  height: 1px;
  background-color: var.$gray-200;
}
