@use "../../../../variables";

.mainWrapper {
  display: grid;
  row-gap: 16px;
}

.twoInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.buttonsWrapper {
  display: flex;
  gap: 12px;
  justify-content: end;

  div {
    margin-right: auto;
  }
}
