@use "../../../variables" as var;

.breadcrumb {
  // background-color: red;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var.$gray-700;
  text-transform: capitalize;
  background-color: var.$white;

  .homeIcon {
    font-size: 20px;
    color: var.$gray-700;
  }

  .rightIcon {
    font-size: 20px;
    color: var.$gray-500;
  }
}
